* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-size: cover;
  background-image: url("background.jpg");
  /* background-color: #f5f5f5; */
  margin: 0 auto;
}

header,
footer {
  /* background-color: #969696c0; */
  /* background-color: deepskyblue; */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgb(15, 94, 128, 0.6)
  );
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: end;
}

.about a {
  color: white;
  margin: 15px;
}

.about a:hover {
  text-decoration: underline;
}

header .about {
  text-align: right;
}

header h1 {
  flex-grow: 1;
  text-align: left;
}

header h1::first-letter {
  font-size: 40px;
}

footer {
  text-align: center;
}

.location h2 {
  margin: 0;
  /* color: #444444; */
}

.location form {
  background-color: #fafafa3d;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
  display: flex;
}
.location form p {
  margin: 3px;
}

.location form label {
  display: block;
  margin: 5px;
  color: #444444;
  font-weight: bold;
}

.location form #search_box {
  border: 2px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}

.search_btn {
  background-color: gray;
  border: solid 2px gray;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.search_btn:hover {
  background-color: white;
  color: gray;
  cursor: pointer;
}

#container {
  display: flex;
  justify-content: center;
}

.location {
  margin: 30px 15px;
}

.forecast {
  border-radius: 15px;
  background-color: #969696c0;

  color: white;
  padding: 20px;
  margin-bottom: 10px;

  display: grid;
  place-items: center;
}

.forecast .date {
  font-size: 40px;
  margin: 10px 0 20px 0;
}
.forecast .main_weather {
  margin: 5px;
  padding: 10px;
}

.forecast .max_tmp p,
.forecast .min_tmp p {
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}

.forecast .max_tmp label,
.forecast .min_tmp label {
  font-size: 20px;
}
